<!DOCTYPE html>
<html lang="en">
<head>
  <title>About me</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi 👋 I'm a freelance Web Developer & Marketing with 5 years of experience working in the tech sector. Visit my portfolio to learn more about my skills, browse my past projects, and get in touch!">
  <link rel="icon" sizes="32x32" href="<%= require('../assets/images/favicon_32x32.ico')%>">
  <link rel="icon" sizes="16x16" href="<%= require('../assets/images/favicon_16x16.ico')%>">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="src/style.css">
</head>
<body>

   <!-- NAVBAR -->
   <nav class="relative pt-4 py-6 desktop:border-b-[0.5px] border-b-dark-green border-spacing-x-12">

    <!-- HAMBURGER ON MOBILE -->
    <div class="desktop:hidden ml-2">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- NAV LINKS ON DESKTOP -->
    <div class="flex justify-between items-center top-1/2">
      <a href="/" class="z-10">
        <img src="<%= require('../assets/images/logo_ia.png')%>" alt="logo of ines alvergne" class="w-9 ml-[200px]">
      </a>
      <ul class="hidden absolute pl-[20%] desktop:flex text-center items-center space-x-6">
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/aboutme">ABOUT ME</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/services">MY SERVICES</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/web">WEB DEVELOPMENT</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/marketing">MARKETING</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/contact">GET IN TOUCH</a></li>
      </ul>
    </div>
  </nav>

  <!-- NAV LINKS ON MOBILE -->
  <div class="navbar-menu relative z-5 hidden">
    <div class="navbar-backdrop fixed inset-0 w-1/2 bg-light-cream opacity-96"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col py-6 px-6 overflow-y-auto">
      <div class="text-end mb-8">
        <button class="navbar-close">
          <svg class="h-6 w-6 text-light-grey cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/aboutme">ABOUT ME</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/services">MY SERVICES</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/web">WEB DEVELOPMENT</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/marketing">MARKETING</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/contact">GET IN TOUCH</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex justify-center my-12 items-center">
    <svg width="28" height="28" viewBox="0 0 16 16" fill="#009486" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
      </svg>
    <h3>About me</h3>
  </div>

  <div class="text-center desktop:mx-44 mobile:mx-10">
    <p>
      I’m a freelance Web Developer and Marketer on the lookout for new challenges 🧐 <br><br>
      While working as a Marketing lead, I decided to deepen my skillset by learning how to code.
      I’ve completed Le Wagon Full-Stack bootcamp and I’m now teaching and assisting students in their learning journey. <br><br>
      As a marketer, I worked with a wide range of industries and led a diverse set of tasks from planning the launch of
      new products, to designing and writing compelling content, managing events, and optimizing strategies with data analysis. My education in Political Science gives me a unique perspective on how to drive results and meet
      business goals. <br><br> With these experiences, I’m able to bring together data-driven, creative and technical thinking.<br>
      I’m versatile, a fast-learner, and always up to try something new!
    </p>
  </div>

  <div class="flex justify-center desktop:space-x-28 mobile:space-x-8 mobile:mx-8 mt-12">
    <div>
      <h3>💼  Work Experience</h3>

        <div class="mt-6 border-b-[1px] border-light-green">
          <div class="flex justify-between">
            <p class="font-bold ">Freelance Teacher</p>
            <p class="font-extralight ">2022-today</p>
          </div>
          <p class="">Le Wagon | Montreal, Canada</p>
      </div>

      <div class="mt-6 border-b-[1px] border-light-green">
        <div class="flex justify-between">
          <p class="font-bold ">Marketing Lead</p>
          <p class="font-extralight ">2021-2023</p>
        </div>
        <p class="">Le Wagon | Montreal, Canada</p>
      </div>

      <div class="mt-6 border-b-[1px] border-light-green">
        <div class="flex justify-between">
          <p class="font-bold ">Content Marketing Manager</p>
          <p class="font-extralight ">2019-2021</p>
        </div>
        <p class="">Keela | Vancouver, Canada</p>
      </div>

      <div class="mt-6">
        <div class="flex justify-between space-x-4">
          <p class="font-bold " >Communications Coordinator</p>
          <p class="font-extralight ">2018-2019</p>
        </div>
        <p class="">La Pieza | Mexico</p>
      </div>
      </div>

    <div>
      <h3>🎓  Education</h3>

      <div class="mt-6 border-b-[1px] border-light-green">
        <div class="flex justify-between">
          <p class="font-bold ">Full-Stack Web Development</p>
          <p class="font-extralight ">2022</p>
        </div>
        <p class="">Le Wagon | Montreal, Canada</p>
      </div>

      <div class="mt-6 border-b-[1px] border-light-green">
        <div class="flex justify-between">
          <p class="font-bold ">M.A. in Political Science</p>
          <p class="font-extralight ">2016-2018</p>
        </div>
        <p class="">McGill Univeristy | Montreal, Canada</p>
      </div>

      <div class="mt-6">
        <div class="flex justify-between space-x-4">
          <p class="font-bold ">Bachelor in European Studies</p>
          <p class="font-extralight ">2013-2016</p>
        </div>
        <p class="">ESPOL | Lille, France</p>
      </div>
    </div>
  </div>

  <footer class="rounded-lg shadow m-4 static w-screen bottom-0">
    <div class="grid place-items-center py-6">
      <p class="text-sm text-light-grey">© 2023 Ines Alvergne. All Rights Reserved.</p>
      <ul class="flex flex-wrap items-center">
        <li>
          <a href="mailto:i.alvergne@gmail.com" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-solid fa-envelope fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ines-alvergne/" target="_blank" class="mr-4 hover:underline md:mr-6 ">
            <i class="fa-brands fa-linkedin fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Inesalvergne" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-brands fa-github fa-lg text-dark-green"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
