<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" sizes="32x32" href="<%= require('../assets/images/favicon_32x32.ico')%>">
    <link rel="icon" sizes="16x16" href="<%= require('../assets/images/favicon_16x16.ico')%>">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="src/style.css">
    <title>Contact Me</title>
  </head>

  <body>

    <!-- NAVBAR -->
    <nav class="relative pt-4 py-6 desktop:border-b-[0.5px] border-b-dark-green border-spacing-x-12">

      <!-- HAMBURGER ON MOBILE -->
      <div class="desktop:hidden ml-2">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>

      <!-- NAV LINKS ON DESKTOP -->
      <div class="flex justify-between items-center top-1/2">
        <a href="/" class="z-10">
          <img src="<%= require('../assets/images/logo_ia.png')%>" alt="logo of ines alvergne" class="w-9 ml-[200px]">
        </a>
        <ul class="hidden absolute pl-[20%] desktop:flex text-center items-center space-x-6">
          <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="aboutme.html">ABOUT ME</a></li>
          <li class="text-gray-300">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
              </svg>
          </li>
          <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="services.html">MY SERVICES</a></li>
          <li class="text-gray-300">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
          </li>
          <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="web.html">WEB DEVELOPMENT</a></li>
          <li class="text-gray-300">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
          </li>
          <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="marketing.html">MARKETING</a></li>
          <li class="text-gray-300">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
              </svg>
          </li>
          <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="contact.html">GET IN TOUCH</a></li>
        </ul>
      </div>
    </nav>

    <!-- NAV LINKS ON MOBILE -->
    <div class="navbar-menu relative z-5 hidden">
      <div class="navbar-backdrop fixed inset-0 w-1/2 bg-light-cream opacity-96"></div>
      <nav class="fixed top-0 left-0 bottom-0 flex flex-col py-6 px-6 overflow-y-auto">
        <div class="text-end mb-8">
          <button class="navbar-close">
            <svg class="h-6 w-6 text-light-grey cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-dark-green" href="aboutme.html">ABOUT ME</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-dark-green" href="services.html">MY SERVICES</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-dark-green" href="web.html">WEB DEVELOPMENT</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-dark-green" href="marketing.html">MARKETING</a>
            </li>
            <li class="mb-1">
              <a class="block p-4 text-sm font-semibold text-dark-green" href="contact.html">GET IN TOUCH</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="mt-40">
      <div class="my-12 text-center">
        <h3> Let's connect 😁 </h3>
      </div>

      <div class="desktop:flex desktop:justify-center gap-10">
        <a href="mailto:i.alvergne@gmail.com" target="_blank">
          <div class="group mobile:mb-20 mobile:w-[650px] bg-light-green bg-opacity-50 desktop:w-[200px] desktop:h-[140px] max-w-md  mx-auto rounded-lg shadow-sm text-center p-10">
            <div>
              <i class="fa-solid fa-envelope fa-2xl text-dark-green group-hover:animate-pulse"></i>
              <p class="text-dark-green font-semibold mt-2">Send me an email</p>
            </div>
          </div>
        </a>

        <a href="https://www.linkedin.com/in/ines-alvergne/" target="_blank">
          <div class="group mobile:mb-20 mobile:w-[650px] bg-light-green bg-opacity-50 desktop:w-[200px] desktop:h-[140px] max-w-md  mx-auto rounded-lg shadow-sm text-center p-10">
            <i class="fa-brands fa-linkedin fa-2xl text-dark-green group-hover:animate-pulse"></i>
            <p class="text-dark-green font-semibold mt-2">Add me on Linkedin</p>
          </div>
        </a>

        <a href="https://github.com/Inesalvergne" target="_blank">
          <div class="group mobile:mb-20 mobile:w-[650px] bg-light-green bg-opacity-50 desktop:w-[200px] desktop:h-[140px] max-w-md  mx-auto rounded-lg shadow-sm text-center p-10">
            <i class="fa-brands fa-github fa-2xl text-dark-green group-hover:animate-pulse"></i>
            <p class="text-dark-green font-semibold mt-2">Take a look at my GitHub</p>
          </div>
        </a>
      </div>
    </div>


    <footer class="rounded-lg shadow m-4 fixed w-screen bottom-0">
      <div class="grid place-items-center py-6">
        <p class="text-sm text-light-grey">© 2023 Ines Alvergne. All Rights Reserved.</p>
        <ul class="flex flex-wrap items-center">
          <li>
            <a href="mailto:i.alvergne@gmail.com" target="_blank" class="mr-4 hover:underline md:mr-6">
              <i class="fa-solid fa-envelope fa-lg text-dark-green"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ines-alvergne/" target="_blank" class="mr-4 hover:underline md:mr-6 ">
              <i class="fa-brands fa-linkedin fa-lg text-dark-green"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Inesalvergne" target="_blank" class="mr-4 hover:underline md:mr-6">
              <i class="fa-brands fa-github fa-lg text-dark-green"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
