<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ines Alvergne</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi 👋 I'm a freelance Web Developer & Marketing with 5 years of experience working in the tech sector. Visit my portfolio to learn more about my skills, browse my past projects, and get in touch!">
  <link rel="icon" sizes="32x32" href="<%= require('../assets/images/favicon_32x32.ico')%>">
  <link rel="icon" sizes="16x16" href="<%= require('../assets/images/favicon_16x16.ico')%>">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="src/style.css">
</head>

<body class="h-screen bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] from-light-cream to-light-green">

  <!-- NAVBAR -->
  <nav class="relative pt-4 py-6 desktop:border-b-[0.5px] border-b-dark-green border-spacing-x-12">

    <!-- HAMBURGER ON MOBILE -->
    <div class="desktop:hidden ml-2">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- NAV LINKS ON DESKTOP -->
    <div class="flex justify-between items-center top-1/2">
      <a href="/" class="z-10">
        <img src="<%= require('../assets/images/logo_ia_green.png')%>" alt="logo of ines alvergne" class="w-9 ml-[200px]">
      </a>
      <ul class="hidden absolute pl-[20%] desktop:flex text-center items-center space-x-6">
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/aboutme">ABOUT ME</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/services">MY SERVICES</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/web">WEB DEVELOPMENT</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/marketing">MARKETING</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="/contact">GET IN TOUCH</a></li>
      </ul>
    </div>
  </nav>

  <!-- NAV LINKS ON MOBILE -->
  <div class="navbar-menu relative z-5 hidden">
    <div class="navbar-backdrop fixed inset-0 w-1/2 bg-light-cream opacity-96"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col py-6 px-6 overflow-y-auto">
      <div class="text-end mb-8">
        <button class="navbar-close">
          <svg class="h-6 w-6 text-light-grey cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/aboutme">ABOUT ME</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/services">MY SERVICES</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/web">WEB DEVELOPMENT</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/marketing">MARKETING</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="/contact.html">GET IN TOUCH</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- HOMEPAGE CONTENT -->
  <div class="flex justify-center items-center gap-16 mt-40">
    <div class="desktop:basis-1/5">
      <img class="w-32 desktop:w-96" src="<%= require('../assets/images/homepage_picture.png')%>"  alt="I'm presenting my final project at Demo Day">
    </div>
    <div class="desktop:basis-2/5">
      <h1 class="text-2xl mt-5 desktop:text-5xl  mb-2 text-dark-green font-mona font-semilbold">Hi, I'm Ines.</h1>
      <h2 class="text-xl desktop:text-4xl font-mona  mb-5">Marketer & Web Developer.</h2>
      <div class="flex">
        <p class="mr-5">📍 Based in Montreal</p>
        <p>🇫🇷 🇬🇧 🇪🇸 Trilingual </p>
      </div>
      <p>💻 5+ years of experience working in the tech industry</p>
      <p>🙋‍♀️ Freelancer & Teacher at Le Wagon Coding School</p>
      <div class="mt-[40px]">
        <a href="/services.html" class="btn-primary">Learn about my services</a>
      </div>
    </div>
    </div>
  </div>

  <script src="bundle.js"></script>
</body>
</html>
