<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marketing projects</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi 👋 I'm a freelance Web Developer & Marketing with 5 years of experience working in the tech sector. Visit my portfolio to learn more about my skills, browse my past projects, and get in touch!">
  <link rel="icon" sizes="32x32" href="<%= require('../assets/images/favicon_32x32.ico')%>">
  <link rel="icon" sizes="16x16" href="<%= require('../assets/images/favicon_16x16.ico')%>">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="src/style.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="relative pt-4 py-6 desktop:border-b-[0.5px] border-b-dark-green border-spacing-x-12">

    <!-- HAMBURGER ON MOBILE -->
    <div class="desktop:hidden ml-2">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- NAV LINKS ON DESKTOP -->
    <div class="flex justify-between items-center top-1/2">
      <a href="/" class="z-10">
        <img src="<%= require('../assets/images/logo_ia.png')%>" alt="logo of ines alvergne" class="w-9 ml-[200px]">
      </a>
      <ul class="hidden absolute pl-[20%] desktop:flex text-center items-center space-x-6">
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="aboutme.html">ABOUT ME</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="services.html">MY SERVICES</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="web.html">WEB DEVELOPMENT</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="marketing.html">MARKETING</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="contact.html">GET IN TOUCH</a></li>
      </ul>
    </div>
  </nav>

  <!-- NAV LINKS ON MOBILE -->
  <div class="navbar-menu relative z-5 hidden">
    <div class="navbar-backdrop fixed inset-0 w-1/2 bg-light-cream opacity-96"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col py-6 px-6 overflow-y-auto">
      <div class="text-end mb-8">
        <button class="navbar-close">
          <svg class="h-6 w-6 text-light-grey cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="aboutme.html">ABOUT ME</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="services.html">MY SERVICES</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="web.html">WEB DEVELOPMENT</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="marketing.html">MARKETING</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="contact.html">GET IN TOUCH</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex justify-center my-12 items-center">
    <svg width="28" height="28" viewBox="0 0 16 16" fill="#009486" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
      </svg>
    <h3>The marketing tools I use </h3>
  </div>

  <ul class="mobile:grid mobile:gap-3 mobile:grid-cols-3 mobile:grid-rows-3 mobile:place-items-center mobile:mx-8 desktop:flex desktop:justify-center desktop:space-x-12 desktop:items-center">
    <li>
      <img src="<%= require('../assets/images/logo_hubspot.png')%>" class="w-20" alt="logo hubspot">
    </li>
    <li class="mobile:mx-auto">
      <img src="<%= require('../assets/images/logo_semrush.png')%>" alt="logo semrush" class="w-20">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_mailchimp.png')%>" alt="logo mailchimp" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_finalcutpro.png')%>" alt="logo finalcutpro" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_aftereffect.png')%>" alt="logo aftereffect" class="w-14">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_zapier.png')%>" alt="logo zapier" class="w-20">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_ga.png')%>" alt="logo google analytics" class="w-20">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_figma.png')%>" alt="logo figma" class="w-10">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_canva.png')%>" alt="logo canva" class="w-16">
    </li>
  </ul>

  <div class="flex justify-center my-12 items-center">
    <svg width="28" height="28" viewBox="0 0 16 16" fill="#009486" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
      </svg>
    <h3>A sample of the content I've created</h3>
  </div>

  <div class="grid gap-y-8 desktop:grid-cols-3 mobile:grid-cols-1 mobile:m-8">

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-20">✍️ BLOG</p>
      <h4 class="mb-4">The Complete Guide to Artificial Intelligence for Nonprofits</h4>
      <p>A long-form blog to explain AI to non-tech savvy audience with real-life examples.</p>
      <a href="" class="text-dark-green text-lg hover:font-bold"> Read more --> </a>
    </div>

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-24">📚 E-BOOK</p>
      <h4 class="mb-4">CRM Buyers’ Guide</h4>
      <p>A guide I wrote and designed to help nonprofit organizations evaluate their needs and shortlist vendors to invest in the right technology.</p>
      <a href="https://drive.google.com/file/d/1gymAAVhCK0lwj3XYB4miIZs_Zi2dXuVm/view" class="text-dark-green text-lg hover:font-bold"> Read more --> </a>
    </div>

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-20">✍️ BLOG</p>
      <h4 class="mb-4">A Day In The Life Of A Data Analyst — What’s It Really Like?</h4>
      <p>A blog published on Canada Tech Talent to explain what the job of a Data Analyst consist of and why their role is key to the success of a company</p>
      <a href="https://techtalent.ca/what-is-it-like-being-a-data-analyst/" class="text-dark-green text-lg hover:font-bold"> Read more --> </a>
    </div>

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-20">✍️ BLOG</p>
      <h4 class="mb-4">Former les demandeurs d’emploi du Québec aux métiers du web</h4>
      <p>Un article basé sur le témoignage de six étudiant(e)s pour mettre en avant les point forts du programme Le Wagon.</p>
      <a href="https://www.lewagon.com/fr/blog/reconversion-tech-demandeurs-emploi" class="text-dark-green text-lg hover:font-bold"> Read more --> </a>
    </div>

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-24">🎥 VIDEO</p>
      <h4 class="mb-4">Let Keela be your copilot</h4>
      <p>A video teaser to announce the launch of a new product at Keela.</p>
      <a href="https://drive.google.com/file/d/1eQ5pCo_ZELAn-NbpX3y1Xqd6xz9J49dW/view" class="text-dark-green text-lg hover:font-bold"> Watch the video --> </a>
    </div>

    <div class="bg-white desktop:w-[380px] mx-auto rounded-lg shadow-md text-left p-8">
      <p class="tag w-24">🎥 VIDEO</p>
      <h4 class="mb-4">Career Day Behind the Scenes</h4>
      <p>A short video to promote Le Wagon’s career services to future students and potential hiring partners.</p>
      <a href="https://www.youtube.com/watch?v=lyiXwIW1hRE" class="text-dark-green text-lg hover:font-bold"> Watch the video --> </a>
    </div>

  </div>

  <footer class="rounded-lg shadow m-4 static w-screen bottom-0">
    <div class="grid place-items-center py-6">
      <p class="text-sm text-light-grey">© 2023 Ines Alvergne. All Rights Reserved.</p>
      <ul class="flex flex-wrap items-center">
        <li>
          <a href="mailto:i.alvergne@gmail.com" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-solid fa-envelope fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ines-alvergne/" target="_blank" class="mr-4 hover:underline md:mr-6 ">
            <i class="fa-brands fa-linkedin fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Inesalvergne" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-brands fa-github fa-lg text-dark-green"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
