<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Web Projects</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Hi 👋 I'm a freelance Web Developer & Marketing with 5 years of experience working in the tech sector. Visit my portfolio to learn more about my skills, browse my past projects, and get in touch!">
  <link rel="icon" sizes="32x32" href="<%= require('../assets/images/favicon_32x32.ico')%>">
  <link rel="icon" sizes="16x16" href="<%= require('../assets/images/favicon_16x16.ico')%>">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <link rel="stylesheet" href="src/style.css">
</head>
<body>

   <!-- NAVBAR -->
  <nav class="relative pt-4 py-6 desktop:border-b-[0.5px] border-b-dark-green border-spacing-x-12">

    <!-- HAMBURGER ON MOBILE -->
    <div class="desktop:hidden ml-2">
      <button class="navbar-burger flex items-center text-blue-600 p-3">
        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <!-- NAV LINKS ON DESKTOP -->
    <div class="flex justify-between items-center top-1/2">
      <a href="/" class="z-10">
        <img src="<%= require('../assets/images/logo_ia.png')%>" alt="logo of ines alvergne" class="w-9 ml-[200px]">
      </a>
      <ul class="hidden absolute pl-[20%] desktop:flex text-center items-center space-x-6">
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="aboutme.html">ABOUT ME</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="services.html">MY SERVICES</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="web.html">WEB DEVELOPMENT</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
          </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="marketing.html">MARKETING</a></li>
        <li class="text-gray-300">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
            </svg>
        </li>
        <li><a class="text-base text-dark-green hover:font-bold hover:border-b-2 hover:border-b-dark-green" href="contact.html">GET IN TOUCH</a></li>
      </ul>
    </div>
  </nav>

  <!-- NAV LINKS ON MOBILE -->
  <div class="navbar-menu relative z-5 hidden">
    <div class="navbar-backdrop fixed inset-0 w-1/2 bg-light-cream opacity-96"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col py-6 px-6 overflow-y-auto">
      <div class="text-end mb-8">
        <button class="navbar-close">
          <svg class="h-6 w-6 text-light-grey cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="aboutme.html">ABOUT ME</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="services.html">MY SERVICES</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="web.html">WEB DEVELOPMENT</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="marketing.html">MARKETING</a>
          </li>
          <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-dark-green" href="contact.html">GET IN TOUCH</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="flex justify-center my-12 items-center">
    <svg width="28" height="28" viewBox="0 0 16 16" fill="#009486" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
      </svg>
    <h3>The coding languages and tools I use</h3>
  </div>

  <ul class="mobile:grid mobile:gap-3 mobile:grid-cols-3 mobile:grid-rows-3 mobile:place-items-center mobile:mx-8 desktop:flex desktop:justify-center desktop:space-x-12 desktop:items-center">
    <li>
      <img src="<%= require('../assets/images/logo_ruby.png')%>" class="w-12" alt="logo ruby">
    </li>
    <li class="mobile:mx-auto">
      <img src="<%= require('../assets/images/logo_rails.png')%>" alt="logo ruby on rails" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_javascript.png')%>" alt="logo javascript" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_stimulus.png')%>" alt="logo stimulus javascript" class="w-32">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_html.png')%>" alt="logo html" class="w-14">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_css.png')%>" alt="logo css" class="w-14">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_bootstrap.png')%>" alt="logo boostrap" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_tailwind.png')%>" alt="logo tailwind css" class="w-32">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_figma.png')%>" alt="logo figma" class="w-10">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_github.png')%>" alt="logo github" class="w-16">
    </li>
    <li>
      <img src="<%= require('../assets/images/logo_heroku.png')%>" alt="logo heroku" class="w-32">
    </li>
  </ul>

  <div class="flex justify-center my-12 items-center">
    <svg width="28" height="28" viewBox="0 0 16 16" fill="#009486" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 12C9.06087 12 10.0783 11.5786 10.8284 10.8284C11.5786 10.0783 12 9.06087 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4C6.93913 4 5.92172 4.42143 5.17157 5.17157C4.42143 5.92172 4 6.93913 4 8C4 9.06087 4.42143 10.0783 5.17157 10.8284C5.92172 11.5786 6.93913 12 8 12Z" fill="#009486" fill-opacity="0.16"/>
      </svg>
    <h3>A few projects I've worked on</h3>
  </div>

  <div class="desktop:flex justify-center items-start">

    <div id="web-project-card" class="bg-white mobile:pb-2 mobile:mb-8 mobile:w-[320px] desktop:w-[360px] max-w-md  mx-auto rounded-lg shadow-md text-center">
      <img src="<%= require('../assets/images/thumbnail_techcompass.png')%>"alt="">
      <div class="my-6">
        <h4> TechCompass </h4>
        <p class="mt-3 text-light-grey"> Ruby on Rails | SCSS | Stimulus JavaScript </p>
        <div id="learn-more" class="flex items-center space-x-3 justify-center">
          <!-- <a href="" class="text-dark-green"> Learn more </a> -->
          <svg id="down-arrow" class="animate-bounce cursor-pointer" width="20" height="20" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 22.0834L0.5 12.5834L2.71667 10.3667L10 17.6104L17.2833 10.3667L19.5 12.5834L10 22.0834ZM10 12.5834L0.5 3.08337L2.71667 0.866699L10 8.11045L17.2833 0.866699L19.5 3.08337L10 12.5834Z" fill="#009486"/>
          </svg>
        </div>
        <div id="project-info" class="hidden">
          <div class="m-4">
            <p class="text-sm"> <strong>What:</strong> TechCompass is an application to help tech workers organize their job search and get advice from the community.</p>
            <p class="text-sm"> <strong>How I was involved:</strong> As part of final project, we developed this application in a team of three. I pitched the idea, led the project, designed the mockups and implemented both front-end and back-end features.</p>
          </div>
          <div class="flex space-x-4 justify-center">
            <a href="https://youtu.be/CXC1A8NLBSU?t=1130" class="btn-secondary" target="_blank"> Watch Demo</a>
            <a href="https://github.com/Inesalvergne/techcompass" class="btn-secondary" target="_blank"> View codebase</a>
          </div>
        </div>
      </div>
    </div>

    <div id="web-project-card" class="bg-white mobile:pb-2 mobile:mb-8 mobile:w-[320px] desktop:w-[360px]  max-w-md  mx-auto rounded-lg shadow-md text-center">
      <img src="<%= require('../assets/images/Thumbnail_findart.png')%>"alt="">
      <div class="my-6">
        <h4> FindArt </h4>
        <p class="mt-3 text-light-grey"> Ruby on Rails | SCSS | Stimulus JavaScript </p>
        <div id="learn-more" class="flex items-center space-x-3 justify-center">
          <!-- <a href="" class="text-dark-green"> Learn more </a> -->
          <svg id="down-arrow" class="animate-bounce cursor-pointer" width="20" height="20" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 22.0834L0.5 12.5834L2.71667 10.3667L10 17.6104L17.2833 10.3667L19.5 12.5834L10 22.0834ZM10 12.5834L0.5 3.08337L2.71667 0.866699L10 8.11045L17.2833 0.866699L19.5 3.08337L10 12.5834Z" fill="#009486"/>
          </svg>
        </div>
        <div id="project-info" class="hidden">
          <div class="m-4">
            <p class="text-sm"> <strong>What:</strong> FindArt is a marketplace to rent famous art pieces. The features include a booking system, a map view, and search filters.</p>
            <p class="text-sm"> <strong>How I was involved:</strong> We developed this application in 5 days in a team of three as part of Le Wagon bootcamp.  I developed front-end and back-end features.</p>
          </div>
            <a href="https://github.com/Inesalvergne/findart" class="btn-secondary" target="_blank"> View codebase</a>
        </div>
      </div>
    </div>

    <div id="web-project-card" class="bg-white mobile:pb-2 mobile:mb-8 mobile:w-[320px] desktop:w-[360px]  max-w-md  mx-auto rounded-lg shadow-md text-center">
      <img src="<%= require('../assets/images/Thumbnail_portfolio.png')%>"alt="">
      <div class="my-6">
        <h4> My Portfolio </h4>
        <p class="mt-3 text-light-grey"> Tailwind | JavaScript | Webpack </p>
        <div id="learn-more" class="flex items-center space-x-3 justify-center">
          <!-- <a href="" class="text-dark-green"> Learn more </a> -->
          <svg id="down-arrow" class="animate-bounce cursor-pointer" width="20" height="20" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 22.0834L0.5 12.5834L2.71667 10.3667L10 17.6104L17.2833 10.3667L19.5 12.5834L10 22.0834ZM10 12.5834L0.5 3.08337L2.71667 0.866699L10 8.11045L17.2833 0.866699L19.5 3.08337L10 12.5834Z" fill="#009486"/>
          </svg>
        </div>
        <div id="project-info" class="hidden">
          <div class="m-4">
            <p class="text-sm"><strong>What:</strong> My personal website to showcase my services and the projects I've worked on.</p>
          </div>
          <div class="flex space-x-4 justify-center">
            <a href="https://github.com/Inesalvergne/my-portfolio/tree/master" class="btn-secondary" target="_blank"> View codebase</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="rounded-lg shadow m-4 static w-screen bottom-0">
    <div class="grid place-items-center py-6">
      <p class="text-sm text-light-grey">© 2023 Ines Alvergne. All Rights Reserved.</p>
      <ul class="flex flex-wrap items-center">
        <li>
          <a href="mailto:i.alvergne@gmail.com" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-solid fa-envelope fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ines-alvergne/" target="_blank" class="mr-4 hover:underline md:mr-6 ">
            <i class="fa-brands fa-linkedin fa-lg text-dark-green"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/Inesalvergne" target="_blank" class="mr-4 hover:underline md:mr-6">
            <i class="fa-brands fa-github fa-lg text-dark-green"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="web.js"></script>
</body>
</html>
